DATABASE_URL=postgresql+psycopg://healthcore:URL_ENCODED_PASSWORD@127.0.0.1:5432/healthcore
MODEL_DIR=/opt/healthcore/api/models
OPEN_METEO_BASE_URL=https://single-runs-api.open-meteo.com/v1/forecast
DB_INIT_ON_STARTUP=false
AUTO_BOOTSTRAP=true
TZ_DIR=/opt/healthcore/api/TZ
APP_ENV=production
